<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="preIncarcerationRegistry">
            <h2><span>Pre Incarceration Registry</span> {{preIncarcerationRegistry.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Old Rank</span></dt>
                <dd>
                    <span>{{preIncarcerationRegistry.oldRank}}</span>
                </dd>
                <dt><span>Old Chief</span></dt>
                <dd>
                    <span>{{preIncarcerationRegistry.oldChief}}</span>
                </dd>
                <dt><span>Old Subordinates</span></dt>
                <dd>
                    <span>{{preIncarcerationRegistry.oldSubordinates}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pre-incarceration-registry', preIncarcerationRegistry.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
