<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-person-heading">Create or edit a Person</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_surname">Surname</label>
                    <input type="text" class="form-control" name="surname" id="field_surname"
                           formControlName="surname"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_birthDate">Birth Date</label>
                    <div class="d-flex">
                        <input id="field_birthDate" type="datetime-local" class="form-control" name="birthDate" formControlName="birthDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_age">Age</label>
                    <input type="number" class="form-control" name="age" id="field_age"
                           formControlName="age"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nationality">Nationality</label>
                    <select class="form-control" name="nationality" formControlName="nationality" id="field_nationality">
                        <option value="NORTH_AMERICAN">NORTH_AMERICAN</option>
                        <option value="ENGLISH">ENGLISH</option>
                        <option value="SPANISH">SPANISH</option>
                        <option value="FRENCH">FRENCH</option>
                        <option value="CANADIAN">CANADIAN</option>
                        <option value="ITALIAN">ITALIAN</option>
                        <option value="RUSSIAN">RUSSIAN</option>
                        <option value="UNKNOWN">UNKNOWN</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="IMPRISONED">IMPRISONED</option>
                        <option value="DEAD">DEAD</option>
                        <option value="ALIVE">ALIVE</option>
                        <option value="UNKNOWN">UNKNOWN</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sex">Sex</label>
                    <select class="form-control" name="sex" formControlName="sex" id="field_sex">
                        <option value="MALE">MALE</option>
                        <option value="FEMALE">FEMALE</option>
                        <option value="UNKNOWN">UNKNOWN</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_alias">Alias</label>
                    <input type="text" class="form-control" name="alias" id="field_alias"
                           formControlName="alias"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rank">Rank</label>
                    <input type="number" class="form-control" name="rank" id="field_rank"
                           formControlName="rank"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_preIncarcerationRegistry">Pre Incarceration Registry</label>
                    <select class="form-control" id="field_preIncarcerationRegistry" name="preIncarcerationRegistry" formControlName="preIncarcerationRegistry">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="preIncarcerationRegistryOption.id === editForm.get('preIncarcerationRegistry').value?.id ? editForm.get('preIncarcerationRegistry').value : preIncarcerationRegistryOption" *ngFor="let preIncarcerationRegistryOption of preincarcerationregistries; trackBy: trackPreIncarcerationRegistryById">{{preIncarcerationRegistryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_chief">Chief</label>
                    <select class="form-control" id="field_chief" name="chief" formControlName="chief">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id === editForm.get('chief').value?.id ? editForm.get('chief').value : personOption" *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
