<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="resourceURL">
            <h2><span>Resource URL</span> {{resourceURL.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Url</span></dt>
                <dd>
                    <span>{{resourceURL.url}}</span>
                </dd>
                <dt><span>Case Report</span></dt>
                <dd>
                    <div *ngIf="resourceURL.caseReport">
                        <a [routerLink]="['/case-report', resourceURL.caseReport?.id, 'view']">{{resourceURL.caseReport?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/resource-url', resourceURL.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
