<div class="row">

    <div class="col-md-9">
        <h1 class="display-4">City of Gotham Police Department</h1>
        <p class="lead">Base de datos de información criminal</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > Acceso permitido como usuario "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Si quieres </span>
                <a class="alert-link" (click)="login()">acceder</a><span>, prueba las cuentas predeterminadas:<br/>- Administrador (usuario="admin" y contraseña="admin") <br/>- Usuario estándar (usuario="user" and contraseña="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>¿No tienes cuenta aún?</span>&nbsp;
                <a class="alert-link" routerLink="register">Registra una nueva cuenta</a>
            </div>
        </div>


        <!--<p>
            Si tienes alguna duda sobre JHipster:
        </p>

        <ul>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener">follow @java_hipster on Twitter</a></li>
        </ul>

        <p>
            <span>Si te gusta JHipster, no olvides darnos tu valoración</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">GitHub</a>!
        </p>-->
    </div>

    <div class="col-md-3">
        <br>
        <br>
        <br>
        <br>
        <span class="hipster img-fluid rounded"></span>
    </div>
</div>
